# Node.js
node_modules
package-lock.json
npm-debug.log*
yarn-error.log*

# Environment variables
.env.local
.env.development
.env.development.local
.env.test
.env.test.local

# Prisma
.prisma
prisma/dev.db
prisma/migrations

# Build output
dist/*
build

# Logs
logs
*.log

# IDE specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS
.DS_Store

# Optional: Ignore coverage reports
coverage

# Optional: Ignore temporary files often created by editors
*.swp
*.swo
*~

# Public folder